/*Styling*/
/*change the font to something thin, spacing between image and title*/
.card, #logo, #studio_info{
    margin: 10px;
}

h1, p, h5{
    font-family: 'Montserrat', sans-serif;
}

#logo, .movie_pic{
    height: auto;
    width: 30%;
}

#studio_info{
    padding: 0 8em;
}

.bg-brown{
    background-color: #716844;
}

.btn-brown{
    background-color: #716844 !important;
}

.gold-text, #studio_info, .btn-brown{
    color: #ede6cb !important;
}

.dropdown{
    margin: 1em 8em 1em 0;
}

.bottom{
    padding-bottom: 3em;
}